{% extends "base.html" %}
{% block title %}Chariot{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<img alt="Chariot Logo" class="img-fluid mx-auto d-block my-3" style="max-width: 40%" src="./static/img/chariot-logo.png"/>
<div class="landing">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada posuere arcu nec euismod. Quisque blandit accumsan nisi vel mollis. Aenean condimentum quis quam ac placerat. Nunc malesuada imperdiet nibh, vitae tempor nisl sagittis a. Integer gravida magna nec dui hendrerit mollis. Etiam et imperdiet sem. Nullam fringilla, lorem in auctor sagittis, mauris lorem ornare diam, non rutrum urna elit quis quam. </p>
</div>

<!-- <a href="/login"><button>Login</button></a> -->
{% endblock %}
<!-- <!DOCTYPE html> -->
<!-- <html lang="en" dir="ltr"> -->
<!--   <head> -->
<!--     <meta charset="utf-8"> -->
<!--     <title>index</title> -->
<!--   </head> -->
<!--   <body> -->
<!--     <a href="/login">login here</a><br> -->

<!--   </body> -->
<!-- </html> -->
