{% extends "base.html" %}
{% block title %}<span class="itineraryName"></span>{% endblock %}
{% block header %}<span class="itineraryName"></span>{% endblock %}
{% block content %}
<!-- https://developer.mapquest.com/documentation/searchahead-api/ -->
<div class="container">

  </div>
  <div class="col-sm text-center">
    <h3 id="itineraryDate"></h3>
  </div>
  <button id="delete">Delete</button>

  <!-- <div class="card"> -->
  <!--   <div class="card-body"> -->
  <!--     <h5 class="card-title">Start</h5> -->
  <!--     <ul class="list-group list-group-flush"> -->
  <!--       <li class="list-group-item" id="startLocation">Start Location: location</li> -->
  <!--       <li class="list-group-item" id="startTime">Start time: location</li> -->
  <!--     </ul> -->
  <!--   </div> -->
  <!-- </div> -->

  <div id="events">

  </div>
</div>
<script src="{{ url_for('static', filename='view_script.js') }}"></script>
{% endblock %}
