{% extends "base.html" %}
{% block header %}<span id="itineraryName"></span>{% endblock %}
{% block content %}
<!-- https://developer.mapquest.com/documentation/searchahead-api/ -->
<div class="container">

  </div>
  <div class="col-sm text-center">
    <h3 id="itineraryDate"></h3>
  </div>
  <div id="errorContent">

  </div>
  <button id="delete" class="btn-danger btn">Delete</button>
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Start</h5>
       <ul class="list-group list-group-flush">
         <li class="list-group-item" id="startLocation"></li>
         <li class="list-group-item" id="startTime"></li>
       </ul>
     </div>
   </div>

  <div id="events">

  </div>
</div>
<script src="{{ url_for('static', filename='view_script.js') }}"></script>
{% endblock %}
