{% extends "base.html" %}
{% block title %}<span class="itineraryName"></span>{% endblock %}
{% block header %}
  <span class="itineraryName"></span>
  <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
{% endblock %}
{% block content %}
<!-- https://developer.mapquest.com/documentation/searchahead-api/ -->
<div id="map" style="height: 50vh; width: 100%;"></div>
<div class="container">

  </div>
  <div class="col-sm text-center">
    <h3 id="itineraryDate"></h3>
  </div>

  <div id="errorContent"/>

  <button id="delete" class="btn-danger btn">Delete</button>
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Start</h5>
       <ul class="list-group list-group-flush">
         <li class="list-group-item" id="startLocation"></li>
         <li class="list-group-item" id="startTime"></li>
       </ul>
     </div>
   </div>

  <div id="events">

  </div>
</div>
<script src="{{ url_for('static', filename='view_script.js') }}"></script>
{% endblock %}
